In [2]:
import requests
import pandas as pd
import numpy as np
import pymysql
import plotly.express as px
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

## Retrieve tables from SQL

In [16]:
# Create engine
bd = "final_project"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/final_project)

In [18]:
# Check if I can import back to Python 
query = "SELECT * FROM city_scenarios_all;"
city_scenarios_all = pd.read_sql(query, engine)

# Check the first few rows
city_scenarios_all.head()

,city,scenario,toilets,toilets_per_km2,ideal_toilets,coverage_ratio,senior_outings_observed,senior_outings_ideal,missed_outings,missed_outing_value_eur,cost_new_toilets_eur,net_gain_eur,relative_gain,sigmoid_midpoint,sigmoid_steepness
0,Den Haag,67 toilets,67,0.81,330,0.203,13855168,1.806410e+07,4.208936e+06,9.259660e+07,0,0.000000,0.000000,0.5,10
1,Den Haag,68 toilets,68,0.82,330,0.206,13855168,1.806410e+07,4.202566e+06,9.245646e+07,200000,-59858.957111,0.001513,0.5,10
2,Den Haag,69 toilets,69,0.84,330,0.209,13855168,1.806410e+07,4.196020e+06,9.231244e+07,400000,-115843.212477,0.003069,0.5,10
3,Den Haag,70 toilets,70,0.85,330,0.212,13855168,1.806410e+07,4.189294e+06,9.216446e+07,600000,-167858.821576,0.004667,0.5,10
4,Den Haag,71 toilets,71,0.86,330,0.215,13855168,1.806410e+07,4.182382e+06,9.201241e+07,800000,-215810.341254,0.006309,0.5,10

In [20]:
# Import dh_seniors from SQL 
query = "SELECT * FROM dh_seniors;"
dh_seniors = pd.read_sql(query, engine)

dh_seniors

    year  total_residents  seniors_percent  seniors
0   2024           566731             15.2    86143
1   2025           569325             15.2    86537
2   2026           572936             15.2    87086
3   2027           578314             15.2    87904
4   2028           583003             15.2    88616
5   2029           588127             15.2    89395
6   2030           596635             15.2    90689
7   2031           604002             15.2    91808
8   2032           610581             15.2    92808
9   2033           614713             15.2    93436
10  2034           619638             15.2    94185

## Installing Streamlit

In [10]:
!pip install streamlit

Requirement already satisfied: streamlit in /opt/anaconda3/lib/python3.12/site-packages (1.37.1)
Requirement already satisfied: altair<6,>=4.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in /opt/anaconda3/lib/python3.12/site-packages (from streamlit) (6.4.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in /opt/anaconda3/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: toolz in /opt/anaconda3/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<3,>=1.3.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2024.12.14)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<5,>=3.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)

## Creating 10-year simulation

In [ ]:
# The function below was put into a .py file (and edited 1.000 times) and pushed to Streamlit that way

In [49]:
def simulate_10_year_plan(starting_toilets, toilets_per_year, scenarios_df, seniors_df):
    results = []
    current_toilets = starting_toilets
    cumulative_net_gain = 0  # initialize outside the loop

    for i, row in seniors_df.iterrows():
        year = row["year"]
        seniors = row["seniors"]

        # Ensure we don't exceed the simulation range
        if current_toilets > scenarios_df["toilets"].max():
            current_toilets = scenarios_df["toilets"].max()

        scenario = scenarios_df[scenarios_df["toilets"] == current_toilets].iloc[0].copy()

        scaling_factor = seniors / seniors_df.iloc[0]["seniors"]
        net_gain = scenario["net_gain_eur"] * scaling_factor
        cumulative_net_gain += net_gain

        result = {
            "year": year,
            "toilets": current_toilets,
            "seniors": seniors,
            "missed_outings": scenario["missed_outings"] * scaling_factor,
            "missed_outing_value_eur": scenario["missed_outing_value_eur"] * scaling_factor,
            "cost_new_toilets_eur": scenario["cost_new_toilets_eur"],  # static
            "net_gain_eur": net_gain,
            "cum_gain_eur": cumulative_net_gain,  # add after updating
        }

        results.append(result)
        current_toilets += toilets_per_year

    return pd.DataFrame(results)

In [55]:
# Run function and check 

df_sim = simulate_10_year_plan(starting_toilets=67, toilets_per_year=26, scenarios_df=city_scenarios_all, seniors_df=dh_seniors)
df_sim

,year,toilets,seniors,missed_outings,missed_outing_value_eur,cost_new_toilets_eur,net_gain_eur,cum_gain_eur
0,2024.0,67,86143.0,4.208936e+06,9.259660e+07,0,0.000000e+00,0.000000e+00
1,2025.0,93,86537.0,3.992251e+06,8.782951e+07,5200000,-3.317885e+04,-3.317885e+04
2,2026.0,119,87086.0,3.577780e+06,7.871116e+07,10400000,4.385242e+06,4.352063e+06
3,2027.0,145,87904.0,2.908804e+06,6.399368e+07,15600000,1.457694e+07,1.892900e+07
4,2028.0,171,88616.0,2.049491e+06,4.508880e+07,20800000,2.876894e+07,4.769795e+07
5,2029.0,197,89395.0,1.236607e+06,2.720535e+07,26000000,4.190535e+07,8.960329e+07
6,2030.0,223,90689.0,6.558454e+05,1.442860e+07,31200000,5.020806e+07,1.398114e+08
7,2031.0,249,91808.0,3.119128e+05,6.862082e+06,36400000,5.303016e+07,1.928415e+08
8,2032.0,275,92808.0,1.322851e+05,2.910272e+06,41600000,5.203200e+07,2.448735e+08
9,2033.0,301,93436.0,4.432210e+04,9.750863e+05,46800000,4.869872e+07,2.935722e+08
10,2034.0,327,94185.0,2.826313e+03,6.217889e+04,52000000,4.432437e+07,3.378966e+08

In [69]:
# Check if 330 toilets is still zero missed outings 

if 330 not in df_sim['toilets'].values:
    last_year = df_sim['year'].max()
    new_row = {
        'year': last_year + 1,
        'toilets': 330,
        'seniors': dh_seniors['seniors'].iloc[-1],  # last known seniors count
    }
    scenario_330 = city_scenarios_all[city_scenarios_all['toilets'] == 330].iloc[0].copy()
    scaling_factor = new_row['seniors'] / dh_seniors.iloc[0]['seniors']

    new_row.update({
        'missed_outings': scenario_330['missed_outings'] * scaling_factor,
        'missed_outing_value_eur': scenario_330['missed_outing_value_eur'] * scaling_factor,
        'cost_new_toilets_eur': scenario_330['cost_new_toilets_eur'],
        'net_gain_eur': scenario_330['net_gain_eur'] * scaling_factor,
    })

    df_sim = pd.concat([df_sim, pd.DataFrame([new_row])], ignore_index=True)

print(df_sim[df_sim['toilets'] == 330][['year', 'toilets', 'missed_outings']])

      year  toilets  missed_outings
11  2035.0      330             0.0