In [2]:
import requests
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

## Retrieve tables from SQL

In [4]:
# Create engine
bd = "final_project"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/final_project)

In [6]:
query = "SELECT * FROM city_scenarios_all;"
df_city_scenarios_all = pd.read_sql(query, engine)

# Check the first few rows
df_city_scenarios_all.head()

,city,scenario,toilets,toilets_per_km2,ideal_toilets,coverage_ratio,senior_outings_observed,senior_outings_ideal,missed_outings,missed_outing_value_eur,cost_new_toilets_eur,net_gain_eur,relative_gain,sigmoid_midpoint,sigmoid_steepness
0,Den Haag,67 toilets,67,0.81,330,0.203,13855168,1.806410e+07,4.208936e+06,9.259660e+07,0,0.000000,0.000000,0.5,10
1,Den Haag,68 toilets,68,0.82,330,0.206,13855168,1.806410e+07,4.202566e+06,9.245646e+07,200000,-59858.957111,0.001513,0.5,10
2,Den Haag,69 toilets,69,0.84,330,0.209,13855168,1.806410e+07,4.196020e+06,9.231244e+07,400000,-115843.212477,0.003069,0.5,10
3,Den Haag,70 toilets,70,0.85,330,0.212,13855168,1.806410e+07,4.189294e+06,9.216446e+07,600000,-167858.821576,0.004667,0.5,10
4,Den Haag,71 toilets,71,0.86,330,0.215,13855168,1.806410e+07,4.182382e+06,9.201241e+07,800000,-215810.341254,0.006309,0.5,10